/* Swap out the colors. */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/nord/src/sass/nord.scss";

$body_bg: $nord6;
$body_color: $nord0;


$theme-colors: (
  "primary": $nord10,
  "secondary": $nord3,
  "success": $nord14,
  "danger": $nord11,
  "warning": $nord13,
  "info": $nord8,
  "light": $nord5,
  "dark": $nord0,
  "white": $nord6,
);

$link-color: $nord10;

@import "../node_modules/bootstrap/scss/bootstrap";
